{% if section.settings.display_pro_custom_block %}
  <div class="product-custom-block">
    {% for block in section.blocks %}
      {% if block.settings.pro_custom_block_text != blank %}
        <div class="item">
          <div class="custom-block-item">
            {% if block.settings.pro_custom_block_icon != blank %}
                <span class="custom-block-icon custom-block-icon-{{ block.id }}">
                  {{ block.settings.pro_custom_block_icon }}
                </span>
            {% endif %}

            <div class="custom-block-text">
              {% render 'multilang' with block.settings.pro_custom_block_text %}
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}  
  </div>
{% endif %}