<div class="halo-product-custom halo-product-default">
	<div class="container">
		<div class="halo-product-content">

			<div class="pro-page row">
				<div class="col-12 col-xl-3 col-sidebar">
					{% section 'sidebar-product' %}
				</div>
				<div class="col-12 col-xl-9 col-main">
					{% section 'product-template-custom' %}
					{% section 'product-banner-block' %}
					{% section 'product-custom-related' %}
	    			{% section 'product-custom-recently-viewed' %}
				</div>
			</div>
		</div>

		{% render 'breadcrumb' %}
	</div>
</div>

