<div class="halo-product-default">
	<div class="halo-product-content">
		<div class="pro-page">
			{% section 'product-template' %}
			{% section 'product-banner-block' %}
		</div>
	</div>

    {% section 'product-widget-tab' %}
    {% section 'product-customer-review' %}
	{% render 'breadcrumb' %}
 	
</div>

