{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb' %}
{% endif %}
<div class="page page-productDetail">
    <div class="container">
        {% section 'product-template-2' %}
        
    	{% section 'tab-horizontal' %}
    </div>

    {% section 'product-add-more' %}

    {% section 'product-recommendations' %}

    {% section 'recently-viewed-products' %}
</div>
{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}