{% assign number_of_related_products = section.settings.slider_products_tab_limit_all | plus:1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% case section.settings.products_tab_results_per_row %}
  {% when '2' %}
    {%- assign grid_item_width = 'col-6' -%}
    {%- assign rowlt = '2' -%}
    {%- assign row = 'two-items' -%}

  {% when '3' %}
    {%- assign grid_item_width = 'col-6 col-md-4' -%}
    {%- assign rowlt = '3' -%}
    {%- assign row = 'three-items' -%}

  {% when '4' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
    {%- assign rowlt = '4' -%}
    {%- assign row = 'four-items' -%}

  {% when '5' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
    {%- assign rowlt = '5' -%}
    {%- assign row = 'five-items' -%}

  {% when '6' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col-xl-2' -%}
    {%- assign rowlt = '6' -%}
    {%- assign row = 'six-items' -%}
{% endcase %}

{% if collection and collection.products_count > 1 %}
<section class="related-products" data-featured-products>
  <div class="widget-product">
    <div class="products-grid row {{ row }} has-slick" data-infinite="false" data-row="{{ section.settings.products_tab_results_per_row }}" data-rowlt="{{rowlt}}" data-rowtb="4" data-rowtblg="3" data-rowbm="2"> 
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {% for product in collection.products limit: number_of_related_products %}
      {% if product.handle == current_product.handle %}
      {% assign current_product_found = true %}
      {% else %}
      {% unless current_product_found == false and forloop.last %}
      
      <div class="grid-item {{ grid_item_width }}{% if settings.product_image_border %} grid-item-border{% endif %} ">
        {% render 'product-grid-item' with product as product %}
      </div>      
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}