<div class="video-open-popup">
    <a href="javascript:void(0)" data-toggle="modal" data-target="#video_product">
        <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">
            <circle cx="100" cy="100" r="90" fill="none" stroke-width="8"/>
            <polygon points="70, 50 70, 145 155, 100"/>
        </svg>
    </a>
</div>

<style>
    .video-open-popup > a {
        color: {{ section.settings.video_product_icon }};
    }
</style>