{% if settings.header_layout == 'default' %}
<div class="wrapper-header wrapper_header_default">
    {% section 'header' %}
</div>
{% elsif settings.header_layout == 'parallax' %}
<div class="wrapper-header wrapper_header_parallax">
    {% section 'header-parallax' %}
</div>
{% endif %}