<div class="sidebar_mobile_wrapper">
    <div class="sidebar_mobile">
        <span class='text'>{{ 'general.sidebar.title' | t }}:</span>
        <svg class="icon"><use xlink:href="#icon-sidebar" /></svg>
    </div>
</div>

{% paginate blog.articles by 7 %}

<div class="halo-column column-2">
{% for article in blog.articles %}
    {% if forloop.index == 1 %}
        <div class="halo-column__item halo-column__item--first">
            {% render 'featured-blog-item-2' with article as article %}
        </div>
    {% else %}
        <div class="halo-column__item">
            {% render 'featured-blog-item-2' with article as article %}
        </div>
    {% endif %}
{% endfor %}
</div> 

{% if paginate.pages > 1 %}
    <div class="pagination-wrapper text-right">
        {% render 'pagination', paginate: paginate %}
    </div>
{% endif %}

{% endpaginate %}

{% schema %}
{
    "name": "Page Content",
    "class": "page-content",
    "settings": [
        {
            "type": "checkbox",
            "id": "blog_show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Show author",
            "default": true
        }
    ]
}
{% endschema %}
