{% if section.settings.display_coll_text_block and section.settings.coll_text_block_desc != blank %}
<section class="collection-text-block" id="section-{{section.id}}">
  <div class="container">
    {% if section.settings.coll_text_block_desc != blank %}
      <div class="collection-text-block-content {% if section.settings.coll_text_block_alignment == 'left' %} text-left{% elsif section.settings.coll_text_block_alignment == 'center' %} text-center{% else %} text-right{% endif %}">
        {% render 'multilang' with  section.settings.coll_text_block_desc %}
      </div>
    {% endif %}
  </div>
</section>
<style>
  #section-{{section.id}}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Custom Block Text",
    "settings": [
     {
      "type": "checkbox",
      "id": "display_coll_text_block",
      "label": "Display Custom Block Text?",
      "default": true
    },
    {
      "type": "range",
      "id": "space_on",
      "label": "Space on",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "range",
      "id": "space_below",
      "label": "Space below",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 70
    },
    {
      "type": "textarea",
      "id": "coll_text_block_desc",
      "label": "Description text"
    },
    {
      "type": "select",
      "id": "coll_text_block_alignment",
      "label": "Text Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
          {
          "value": "center",
          "label": "Center"
          },
          {
          "value": "right",
          "label": "Right"
          }
      ]
    }
  ]
}
{% endschema %}