@font-face {
  font-family: "Cormorant";
  src: url("../assets/Cormorant-Regular.woff2") format("woff2"), url("../assets/Cormorant-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../assets/Jost-Regular.woff2") format("woff2"), url("../assets/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Jost" !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant" !important;
}