/*================ Variable ================*/
/*============================================================================
    Grid Breakpoints and Class Names
        - Do not change the variable names
        - Breakpoint pixel values are used in the window.theme.breakpoints object
==============================================================================*/
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-gutter: 30px;
$grid-gutter-mobile: 22px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

/*============================================================================
    Generate breakpoint-specific column widths and push classes
        - Default column widths: $grid-breakpoint-has-widths: ($small, $medium-up);
        - Default is no push classes
==============================================================================*/
$grid-breakpoint-has-widths: ($small, $medium-up);
$grid-breakpoint-has-push: ($small, $medium-up);

/*================ Color Variables ================*/

// Text colors
$color-text: #5a5a5a;
$color-text-shadow: rgba(0,0,0,0.4);
$color-body-text: #5a5a5a;


// Backgrounds
$color-body: #fff;

// Border colors
$color-border: #ebebeb;
$color-border-form: #cbcbcb;

// Helper colors for form error states
$color-disabled: #f4f4f4;
$color-disabled-border: #f4f4f4;
$color-error: #d20000;
$color-error-message-list: #651818;
$color-error-bg: #fff8f8;
$color-success: #1F873D;
$color-success-bg: #f8fff9;

// Forms
$color-form-text: #333;
$color-error-input-text: $color-error;
$input-padding-top-bottom: 10px;
$input-padding-left-right: 18px;
$input-padding-top-bottom-small: 8px;
$input-padding-left-right-small: 15px;
$input-group-height: 46px;
$input-group-height-small: 42px;

// Social icons
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;

/*================ Sizing Variables ================*/
$width-site: 1200px;
$gutter-site: 55px;
$gutter-site-mobile: 22px;
$section-spacing: 55px;
$section-spacing-small: 35px;
$border-radius: 2px;

/*================ Footer Variables ================*/
$footer-spacing-extra-small: 5px;
$footer-spacing-small: 15px;
$footer-wrapper-spacing: 18px;
$footer-hr-bottom-spacing: 20px;
$footer-spacing-medium: 25px;
$footer-spacing-large: 45px;

/*================ Z-Index ================*/
$z-index-dropdown : 7;
$z-index-sub-nav: 8;
$z-index-drawer: 9;
$z-index-announcement-bar: 10;
$z-index-skip-to-content: 10000; // really high to be safe of app markup

/*================ SVG ================*/
$svg-select-icon: #{'//cdn.shopify.com/s/files/1/0281/5600/2440/t/13/assets/ico-select.svg?v=16650056502941319033'};

/*================ Drawers ================*/
$transition-drawer: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);

/*================ Hero Slider ================*/
$color-slideshow-arrows: #000;
$color-slideshow-dots: #fff;

/*================ Typography ================*/




@font-face {
  font-family: Rajdhani;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/rajdhani/rajdhani_n7.f6e03eacadd4bbe38110a25ef05200437ee83087.woff2?&hmac=e9ea63170cd74a40f1fc2050a80e2d0dead92b7784e1e689e65c790cabbd8d3a") format("woff2"),
       url("https://fonts.shopifycdn.com/rajdhani/rajdhani_n7.a054bdc0b1ce90a35d9ddd33a5641d9669d16d89.woff?&hmac=9181972bb36720c23a79209c3ec8efde7c92c0e7f8df0fa55d7dddaab79e7759") format("woff");
}

@font-face {
  font-family: Arimo;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/arimo/arimo_n4.37b74ffdd8f32b386933afc2f690ab2b837c67d4.woff2?&hmac=888e572334b1b6c5989809b5e3334159cd82269eaebe01ee3ef7a0735d8b73c4") format("woff2"),
       url("https://fonts.shopifycdn.com/arimo/arimo_n4.3b91be2b1578df1fd5917078b7d92a21cb34d88e.woff?&hmac=1b1f7066ab6872196e1f856bdc66ae6279a46a664cab04a6952dadbedb131d98") format("woff");
}




@font-face {
  font-family: Arimo;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/arimo/arimo_n7.bf3fa65912c7598edac87f3464dc56cced61307e.woff2?&hmac=a24236a3efc424c4debe5467be08a91d6d53a8239597e5ac06bda8e38fadd724") format("woff2"),
       url("https://fonts.shopifycdn.com/arimo/arimo_n7.1de27ffea9bb2528cf1df7ad7c3c04a2b278cd8d.woff?&hmac=49281f5c0e5f1a1deebbc10dcdd72ec01f677ee22a278e3a96e5cae8ab07555a") format("woff");
}

@font-face {
  font-family: Arimo;
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/arimo/arimo_n7.bf3fa65912c7598edac87f3464dc56cced61307e.woff2?&hmac=a24236a3efc424c4debe5467be08a91d6d53a8239597e5ac06bda8e38fadd724") format("woff2"),
       url("https://fonts.shopifycdn.com/arimo/arimo_n7.1de27ffea9bb2528cf1df7ad7c3c04a2b278cd8d.woff?&hmac=49281f5c0e5f1a1deebbc10dcdd72ec01f677ee22a278e3a96e5cae8ab07555a") format("woff");
}

@font-face {
  font-family: Arimo;
  font-weight: 400;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/arimo/arimo_i4.9739ae4f9473f2a63d3554a38a434d5ce842d444.woff2?&hmac=6478293bef774e68b5391a09f531897176eec07150cd356b0b55ba020cf95d0d") format("woff2"),
       url("https://fonts.shopifycdn.com/arimo/arimo_i4.d350b23df4855a383320ead1b9422fa48bb3a6b9.woff?&hmac=66769c3de0fea19baa00cc0bcc03ff634f76d97683778f7a6c7c1ac88fe2db83") format("woff");
}

@font-face {
  font-family: Arimo;
  font-weight: 700;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/arimo/arimo_i7.f62cd88331ad0c31a41f31618f8ff95cca052800.woff2?&hmac=d4ebf578a9273a65cd07b11a2bebcd93487191b4779f72f35baa9cdf98f7bac9") format("woff2"),
       url("https://fonts.shopifycdn.com/arimo/arimo_i7.6ead2569d278254c7a14fcf41f3024dc621fc58a.woff?&hmac=0d30c2798f74c9426c28e7464cc4667f40bfb81f785348d62d4d2662c87f1c52") format("woff");
}


$font-weight-body--bold: 700;
$font-weight-body--bolder: 700;
$font-weight-header--bold: 700;

$font-stack-header: Rajdhani, sans-serif;
$font-style-header: normal;
$font-weight-header: 700;

$font-stack-body: Arimo, sans-serif;
$font-style-body: normal;
$font-weight-body: 400;

$font-size-header: 14 * 1px;
$font-bold-titles: 700;

$font-size-base: 12px;

$font-stack-cart-notification: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-mobile-input: 16px; // min 16px to prevent zooming

/*================ Gift Cards ================*/
$color-giftcard-tooltip-fallback: #333;
$color-giftcard-light: #fff;
$color-giftcard-tooltip: rgba(0, 0, 0, 0.9);
$color-giftcard-disabled: #999;
$color-giftcard-small-text: #b3b3b3;
$color-giftcard-shadow: rgba(0, 0, 0, 0.1);
$color-giftcard-print-bg: #fff;
$color-giftcard-print: #000;
$color-giftcard-bg: #e95e61;

/*================ Z-index ================*/
$z-index-giftcard-image: 2;
$z-index-giftcard-corners: 3;
$z-index-giftcard-tooltip: 4;
$z-index-giftcard-code: 5;



/*================ #Giftcard Template ================*/

.giftcard__apple-wallet-image {
    display: block;
    margin: 0 auto;
}

/*================ Print Giftcard Styles ================*/
@media print {
    @page {
        margin: 0.5cm;
    }

    p {
        orphans: 3;
        widows: 3;
    }

    html,
    body {
        background-color: $color-giftcard-light;
        color: $color-giftcard-print;
    }

    .giftcard__print-link,
    .giftcard__apple-wallet {
        display: none;
    }
}

/*================ Custom Giftcard Styles ================*/
.text-center {
    text-align: center;
}
.template-giftcard {
    background: $color-body;

    .site-header__logo {
        padding-left: 0;
        margin-bottom: 50px;
        font-size: 30px;
        text-transform: uppercase;
        a {
            display: inline-block;
        }
    }

    .site-header__logo-image {
        max-width: 200px;
    }

    .wrapper {
        max-width: 588px;

        img,
        object,
        iframe {
            max-width: 100%;
        }
    }
}

.giftcard-wrapper {
    max-width: 31rem;
    margin: 0 auto;
}

.giftcard__header {
    margin-top: 50px;
    > h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
    }
    @media (min-width: 768px) {
        margin-top: 90px;
        > h1 {
            text-transform: uppercase;
            font-size: 30px;
        }
    }
}

.giftcard__tag--active {
    opacity: 0.6;
}

/*================ Gift Card image ================*/
.giftcard__wrap {
    position: relative;
    margin: ($gutter-site / 2) ($gutter-site / 2) $gutter-site;
    background-color: $color-giftcard-bg;
    border-radius: 10px;

    img {
        position: relative;
        display: block;
        border-radius: 10px;
        z-index: $z-index-giftcard-image;
    }

    // White corner caps that overlap gift card image
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 47px; // asset width
        height: 47px; // asset width
        z-index: $z-index-giftcard-corners;
    }

    &::before {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDdweCIgaGVpZ2h0PSI0N3B4IiB2aWV3Qm94PSIwIDAgNDcgNDciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ3IDQ3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBvcGFjaXR5PSIwLjEiPgoJCTxwYXRoIGQ9Ik00NC41ODYsMUwxLDQ0LjU4NlYxMGMwLTQuOTYzLDQuMDM3LTksOS05SDQ0LjU4NiBNNDcsMEgxMEM0LjQ3NywwLDAsNC40NzcsMCwxMHYzN0w0NywwTDQ3LDB6Ii8+Cgk8L2c+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNDQuNTg2LDFMMSw0NC41ODZWMTBjMC00Ljk2Myw0LjAzNy05LDktOUg0NC41ODYiLz4KCTwvZz4KPC9nPgo8L3N2Zz4K') 0 0 no-repeat;
        top: -1px;
        left: -1px;
    }

    &::after {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDdweCIgaGVpZ2h0PSI0N3B4IiB2aWV3Qm94PSIwIDAgNDcgNDciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ3IDQ3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBvcGFjaXR5PSIwLjEiPgoJCTxwYXRoIGQ9Ik0yLjQxNCw0Nkw0NiwyLjQxNFYzN2MwLDQuOTYzLTQuMDM3LDktOSw5SDIuNDE0IE0wLDQ3aDM3YzUuNTIzLDAsMTAtNC40NzcsMTAtMTBWMEwwLDQ3TDAsNDd6Ii8+Cgk8L2c+CjwvZz4KPGc+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMi40MTQsNDZMNDYsMi40MTRWMzdjMCw0Ljk2My00LjAzNyw5LTksOUgyLjQxNCIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgo=') 0 0 no-repeat;
        bottom: -1px;
        right: -1px;
    }
}

/*================ Gift card code ================*/
.giftcard__code {
    position: relative;
    text-align: center;
    width: 90%;
    z-index: $z-index-giftcard-code;
    margin: -70px auto 0px auto;
    padding: 0 0 18px 0;
}

.giftcard__code--medium {
    font-size: 0.875em;
}

.giftcard__code--small {
    font-size: 0.75em;
}

.giftcard__code__inner {
    display: inline-block;
    vertical-align: baseline;
    background-color: $color-giftcard-light;
    padding: 0.5em;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px $color-giftcard-shadow;
    box-shadow: 0 0 0 1px $color-giftcard-shadow;
}

.giftcard__code__text {
    font-size: 1.875em;
    text-transform: uppercase;
    border: 1px dashed $color-border-form;
    padding: 0.4em 0.5em;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    text-align: center;
    width: 100%;

    &.disabled {
        color: $color-giftcard-disabled;
        text-decoration: line-through;
    }
}

/*================ Gift card amount ================*/
.giftcard__amount {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-giftcard-light;
    font-size: 2.75em;
    line-height: 1.2;
    padding: 10px;
    z-index: $z-index-giftcard-code;

    strong {
        display: block;
        text-shadow: 2px 2px 0 $color-giftcard-shadow;
    }
}

.giftcard__amount--medium {
    font-size: 2em;
}

/*================ Tooltip ================*/
.giftcard__tooltip {
    display: block;
    position: absolute;
    top: -50%;
    right: 50%;
    margin-top: 16px;
    z-index: $z-index-giftcard-tooltip;
    color: $color-giftcard-light;
    text-align: center;
    white-space: nowrap;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 0;
        height: 0;
        margin-left: -5px;
        margin-bottom: -5px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 5px solid $color-giftcard-tooltip-fallback;
        border-top: 5px solid $color-giftcard-tooltip;
    }
}

.giftcard__tooltip-label {
    display: block;
    position: relative;
    right: -50%;
    border: 0;
    border-radius: 4px;
    background-color: $color-giftcard-tooltip-fallback;
    background-color: $color-giftcard-tooltip;
    min-height: 14px;
    font-size: 12px;
    text-decoration: none;
    line-height: 16px;
    text-shadow: none;
    padding: 0.5em 0.75em;
    margin-left: 0.25em;

    small {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-giftcard-small-text;
        font-size: 0.875em;
    }
}

.giftcard-action-list {
    text-align: center;
}

.giftcard-action-list__item {
    margin: 0 0 ($section-spacing-small / 1.8);
}

/*================ QR code (print only) ================*/
.giftcard__qr-code {
    img {
        padding: 0;
        border: 1px solid $color-border;
        border-radius: 4px;
        margin: 0 auto $gutter-site;
    }
}

@media (min-width: 1025px) {
    .btn--large {
        min-width: 200px;
    }
}

/*================ Medium-down width ================*/
@media screen and (max-width: 580px) {
    .giftcard {
        padding-top: 30px;
    }

    .print-link {
        display: none;
    }

    .giftcard__wrap {
        margin: 0 15px 50px 15px;
    }
}

/*================ Small width ================*/
@media screen and (max-width: 400px) {
    .giftcard__wrap::before,
    .giftcard__wrap::after {
        display: none;
    }

    .giftcard__code {
        font-size: 0.75em;
    }

    .giftcard__code--medium {
        font-size: 0.65em;
    }

    .giftcard__code--small {
        font-size: 0.55em;
    }
}


/*============================================================================
    #Print Styles
==============================================================================*/

@media print {
    .giftcard__actions,
    .giftcard__wrap::before,
    .giftcard__wrap::after,
    .giftcard__tooltip {
        display: none;
    }

    .shop-url {
        display: block;
        text-align: center;
    }

    .qr-code {
        display: block;
    }

    .print-link {
        display: none;
    }
    .giftcard__code {
        margin-top: -90px;
    }
}
