.gap-0 .halo-column {
  margin-left: 0px;
  margin-right: 0px;
}

.gap-0 .halo-column__item {
  padding-left: 0px;
  padding-right: 0px;
}

.gap-1 .halo-column {
  margin-left: -0.5px;
  margin-right: -0.5px;
}

.gap-1 .halo-column__item {
  padding-left: 0.5px;
  padding-right: 0.5px;
}

.gap-2 .halo-column {
  margin-left: -1px;
  margin-right: -1px;
}

.gap-2 .halo-column__item {
  padding-left: 1px;
  padding-right: 1px;
}

.gap-3 .halo-column {
  margin-left: -1.5px;
  margin-right: -1.5px;
}

.gap-3 .halo-column__item {
  padding-left: 1.5px;
  padding-right: 1.5px;
}

.gap-4 .halo-column {
  margin-left: -2px;
  margin-right: -2px;
}

.gap-4 .halo-column__item {
  padding-left: 2px;
  padding-right: 2px;
}

.gap-5 .halo-column {
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.gap-5 .halo-column__item {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.gap-6 .halo-column {
  margin-left: -3px;
  margin-right: -3px;
}

.gap-6 .halo-column__item {
  padding-left: 3px;
  padding-right: 3px;
}

.gap-7 .halo-column {
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.gap-7 .halo-column__item {
  padding-left: 3.5px;
  padding-right: 3.5px;
}

.gap-8 .halo-column {
  margin-left: -4px;
  margin-right: -4px;
}

.gap-8 .halo-column__item {
  padding-left: 4px;
  padding-right: 4px;
}

.gap-9 .halo-column {
  margin-left: -4.5px;
  margin-right: -4.5px;
}

.gap-9 .halo-column__item {
  padding-left: 4.5px;
  padding-right: 4.5px;
}

.gap-10 .halo-column {
  margin-left: -5px;
  margin-right: -5px;
}

.gap-10 .halo-column__item {
  padding-left: 5px;
  padding-right: 5px;
}

.gap-11 .halo-column {
  margin-left: -5.5px;
  margin-right: -5.5px;
}

.gap-11 .halo-column__item {
  padding-left: 5.5px;
  padding-right: 5.5px;
}

.gap-12 .halo-column {
  margin-left: -6px;
  margin-right: -6px;
}

.gap-12 .halo-column__item {
  padding-left: 6px;
  padding-right: 6px;
}

.gap-13 .halo-column {
  margin-left: -6.5px;
  margin-right: -6.5px;
}

.gap-13 .halo-column__item {
  padding-left: 6.5px;
  padding-right: 6.5px;
}

.gap-14 .halo-column {
  margin-left: -7px;
  margin-right: -7px;
}

.gap-14 .halo-column__item {
  padding-left: 7px;
  padding-right: 7px;
}

.gap-15 .halo-column {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.gap-15 .halo-column__item {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.gap-16 .halo-column {
  margin-left: -8px;
  margin-right: -8px;
}

.gap-16 .halo-column__item {
  padding-left: 8px;
  padding-right: 8px;
}

.gap-17 .halo-column {
  margin-left: -8.5px;
  margin-right: -8.5px;
}

.gap-17 .halo-column__item {
  padding-left: 8.5px;
  padding-right: 8.5px;
}

.gap-18 .halo-column {
  margin-left: -9px;
  margin-right: -9px;
}

.gap-18 .halo-column__item {
  padding-left: 9px;
  padding-right: 9px;
}

.gap-19 .halo-column {
  margin-left: -9.5px;
  margin-right: -9.5px;
}

.gap-19 .halo-column__item {
  padding-left: 9.5px;
  padding-right: 9.5px;
}

.gap-20 .halo-column {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-20 .halo-column__item {
  padding-left: 10px;
  padding-right: 10px;
}

.gap-21 .halo-column {
  margin-left: -10.5px;
  margin-right: -10.5px;
}

.gap-21 .halo-column__item {
  padding-left: 10.5px;
  padding-right: 10.5px;
}

.gap-22 .halo-column {
  margin-left: -11px;
  margin-right: -11px;
}

.gap-22 .halo-column__item {
  padding-left: 11px;
  padding-right: 11px;
}

.gap-23 .halo-column {
  margin-left: -11.5px;
  margin-right: -11.5px;
}

.gap-23 .halo-column__item {
  padding-left: 11.5px;
  padding-right: 11.5px;
}

.gap-24 .halo-column {
  margin-left: -12px;
  margin-right: -12px;
}

.gap-24 .halo-column__item {
  padding-left: 12px;
  padding-right: 12px;
}

.gap-25 .halo-column {
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.gap-25 .halo-column__item {
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.gap-26 .halo-column {
  margin-left: -13px;
  margin-right: -13px;
}

.gap-26 .halo-column__item {
  padding-left: 13px;
  padding-right: 13px;
}

.gap-27 .halo-column {
  margin-left: -13.5px;
  margin-right: -13.5px;
}

.gap-27 .halo-column__item {
  padding-left: 13.5px;
  padding-right: 13.5px;
}

.gap-28 .halo-column {
  margin-left: -14px;
  margin-right: -14px;
}

.gap-28 .halo-column__item {
  padding-left: 14px;
  padding-right: 14px;
}

.gap-29 .halo-column {
  margin-left: -14.5px;
  margin-right: -14.5px;
}

.gap-29 .halo-column__item {
  padding-left: 14.5px;
  padding-right: 14.5px;
}

.gap-30 .halo-column {
  margin-left: -15px;
  margin-right: -15px;
}

.gap-30 .halo-column__item {
  padding-left: 15px;
  padding-right: 15px;
}

.gap-31 .halo-column {
  margin-left: -15.5px;
  margin-right: -15.5px;
}

.gap-31 .halo-column__item {
  padding-left: 15.5px;
  padding-right: 15.5px;
}

.gap-32 .halo-column {
  margin-left: -16px;
  margin-right: -16px;
}

.gap-32 .halo-column__item {
  padding-left: 16px;
  padding-right: 16px;
}

.gap-33 .halo-column {
  margin-left: -16.5px;
  margin-right: -16.5px;
}

.gap-33 .halo-column__item {
  padding-left: 16.5px;
  padding-right: 16.5px;
}

.gap-34 .halo-column {
  margin-left: -17px;
  margin-right: -17px;
}

.gap-34 .halo-column__item {
  padding-left: 17px;
  padding-right: 17px;
}

.gap-35 .halo-column {
  margin-left: -17.5px;
  margin-right: -17.5px;
}

.gap-35 .halo-column__item {
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.gap-36 .halo-column {
  margin-left: -18px;
  margin-right: -18px;
}

.gap-36 .halo-column__item {
  padding-left: 18px;
  padding-right: 18px;
}

.gap-37 .halo-column {
  margin-left: -18.5px;
  margin-right: -18.5px;
}

.gap-37 .halo-column__item {
  padding-left: 18.5px;
  padding-right: 18.5px;
}

.gap-38 .halo-column {
  margin-left: -19px;
  margin-right: -19px;
}

.gap-38 .halo-column__item {
  padding-left: 19px;
  padding-right: 19px;
}

.gap-39 .halo-column {
  margin-left: -19.5px;
  margin-right: -19.5px;
}

.gap-39 .halo-column__item {
  padding-left: 19.5px;
  padding-right: 19.5px;
}

.gap-40 .halo-column {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-40 .halo-column__item {
  padding-left: 20px;
  padding-right: 20px;
}

.gap-41 .halo-column {
  margin-left: -20.5px;
  margin-right: -20.5px;
}

.gap-41 .halo-column__item {
  padding-left: 20.5px;
  padding-right: 20.5px;
}

.gap-42 .halo-column {
  margin-left: -21px;
  margin-right: -21px;
}

.gap-42 .halo-column__item {
  padding-left: 21px;
  padding-right: 21px;
}

.gap-43 .halo-column {
  margin-left: -21.5px;
  margin-right: -21.5px;
}

.gap-43 .halo-column__item {
  padding-left: 21.5px;
  padding-right: 21.5px;
}

.gap-44 .halo-column {
  margin-left: -22px;
  margin-right: -22px;
}

.gap-44 .halo-column__item {
  padding-left: 22px;
  padding-right: 22px;
}

.gap-45 .halo-column {
  margin-left: -22.5px;
  margin-right: -22.5px;
}

.gap-45 .halo-column__item {
  padding-left: 22.5px;
  padding-right: 22.5px;
}

.gap-46 .halo-column {
  margin-left: -23px;
  margin-right: -23px;
}

.gap-46 .halo-column__item {
  padding-left: 23px;
  padding-right: 23px;
}

.gap-47 .halo-column {
  margin-left: -23.5px;
  margin-right: -23.5px;
}

.gap-47 .halo-column__item {
  padding-left: 23.5px;
  padding-right: 23.5px;
}

.gap-48 .halo-column {
  margin-left: -24px;
  margin-right: -24px;
}

.gap-48 .halo-column__item {
  padding-left: 24px;
  padding-right: 24px;
}

.gap-49 .halo-column {
  margin-left: -24.5px;
  margin-right: -24.5px;
}

.gap-49 .halo-column__item {
  padding-left: 24.5px;
  padding-right: 24.5px;
}

.gap-50 .halo-column {
  margin-left: -25px;
  margin-right: -25px;
}

.gap-50 .halo-column__item {
  padding-left: 25px;
  padding-right: 25px;
}

.gap-51 .halo-column {
  margin-left: -25.5px;
  margin-right: -25.5px;
}

.gap-51 .halo-column__item {
  padding-left: 25.5px;
  padding-right: 25.5px;
}

.gap-52 .halo-column {
  margin-left: -26px;
  margin-right: -26px;
}

.gap-52 .halo-column__item {
  padding-left: 26px;
  padding-right: 26px;
}

.gap-53 .halo-column {
  margin-left: -26.5px;
  margin-right: -26.5px;
}

.gap-53 .halo-column__item {
  padding-left: 26.5px;
  padding-right: 26.5px;
}

.gap-54 .halo-column {
  margin-left: -27px;
  margin-right: -27px;
}

.gap-54 .halo-column__item {
  padding-left: 27px;
  padding-right: 27px;
}

.gap-55 .halo-column {
  margin-left: -27.5px;
  margin-right: -27.5px;
}

.gap-55 .halo-column__item {
  padding-left: 27.5px;
  padding-right: 27.5px;
}

.gap-56 .halo-column {
  margin-left: -28px;
  margin-right: -28px;
}

.gap-56 .halo-column__item {
  padding-left: 28px;
  padding-right: 28px;
}

.gap-57 .halo-column {
  margin-left: -28.5px;
  margin-right: -28.5px;
}

.gap-57 .halo-column__item {
  padding-left: 28.5px;
  padding-right: 28.5px;
}

.gap-58 .halo-column {
  margin-left: -29px;
  margin-right: -29px;
}

.gap-58 .halo-column__item {
  padding-left: 29px;
  padding-right: 29px;
}

.gap-59 .halo-column {
  margin-left: -29.5px;
  margin-right: -29.5px;
}

.gap-59 .halo-column__item {
  padding-left: 29.5px;
  padding-right: 29.5px;
}

.gap-60 .halo-column {
  margin-left: -30px;
  margin-right: -30px;
}

.gap-60 .halo-column__item {
  padding-left: 30px;
  padding-right: 30px;
}

.gap-61 .halo-column {
  margin-left: -30.5px;
  margin-right: -30.5px;
}

.gap-61 .halo-column__item {
  padding-left: 30.5px;
  padding-right: 30.5px;
}

.gap-62 .halo-column {
  margin-left: -31px;
  margin-right: -31px;
}

.gap-62 .halo-column__item {
  padding-left: 31px;
  padding-right: 31px;
}

.gap-63 .halo-column {
  margin-left: -31.5px;
  margin-right: -31.5px;
}

.gap-63 .halo-column__item {
  padding-left: 31.5px;
  padding-right: 31.5px;
}

.gap-64 .halo-column {
  margin-left: -32px;
  margin-right: -32px;
}

.gap-64 .halo-column__item {
  padding-left: 32px;
  padding-right: 32px;
}

.gap-65 .halo-column {
  margin-left: -32.5px;
  margin-right: -32.5px;
}

.gap-65 .halo-column__item {
  padding-left: 32.5px;
  padding-right: 32.5px;
}

.gap-66 .halo-column {
  margin-left: -33px;
  margin-right: -33px;
}

.gap-66 .halo-column__item {
  padding-left: 33px;
  padding-right: 33px;
}

.gap-67 .halo-column {
  margin-left: -33.5px;
  margin-right: -33.5px;
}

.gap-67 .halo-column__item {
  padding-left: 33.5px;
  padding-right: 33.5px;
}

.gap-68 .halo-column {
  margin-left: -34px;
  margin-right: -34px;
}

.gap-68 .halo-column__item {
  padding-left: 34px;
  padding-right: 34px;
}

.gap-69 .halo-column {
  margin-left: -34.5px;
  margin-right: -34.5px;
}

.gap-69 .halo-column__item {
  padding-left: 34.5px;
  padding-right: 34.5px;
}

.gap-70 .halo-column {
  margin-left: -35px;
  margin-right: -35px;
}

.gap-70 .halo-column__item {
  padding-left: 35px;
  padding-right: 35px;
}

.gap-71 .halo-column {
  margin-left: -35.5px;
  margin-right: -35.5px;
}

.gap-71 .halo-column__item {
  padding-left: 35.5px;
  padding-right: 35.5px;
}

.gap-72 .halo-column {
  margin-left: -36px;
  margin-right: -36px;
}

.gap-72 .halo-column__item {
  padding-left: 36px;
  padding-right: 36px;
}

.gap-73 .halo-column {
  margin-left: -36.5px;
  margin-right: -36.5px;
}

.gap-73 .halo-column__item {
  padding-left: 36.5px;
  padding-right: 36.5px;
}

.gap-74 .halo-column {
  margin-left: -37px;
  margin-right: -37px;
}

.gap-74 .halo-column__item {
  padding-left: 37px;
  padding-right: 37px;
}

.gap-75 .halo-column {
  margin-left: -37.5px;
  margin-right: -37.5px;
}

.gap-75 .halo-column__item {
  padding-left: 37.5px;
  padding-right: 37.5px;
}

.gap-76 .halo-column {
  margin-left: -38px;
  margin-right: -38px;
}

.gap-76 .halo-column__item {
  padding-left: 38px;
  padding-right: 38px;
}

.gap-77 .halo-column {
  margin-left: -38.5px;
  margin-right: -38.5px;
}

.gap-77 .halo-column__item {
  padding-left: 38.5px;
  padding-right: 38.5px;
}

.gap-78 .halo-column {
  margin-left: -39px;
  margin-right: -39px;
}

.gap-78 .halo-column__item {
  padding-left: 39px;
  padding-right: 39px;
}

.gap-79 .halo-column {
  margin-left: -39.5px;
  margin-right: -39.5px;
}

.gap-79 .halo-column__item {
  padding-left: 39.5px;
  padding-right: 39.5px;
}

.gap-80 .halo-column {
  margin-left: -40px;
  margin-right: -40px;
}

.gap-80 .halo-column__item {
  padding-left: 40px;
  padding-right: 40px;
}

.gap-81 .halo-column {
  margin-left: -40.5px;
  margin-right: -40.5px;
}

.gap-81 .halo-column__item {
  padding-left: 40.5px;
  padding-right: 40.5px;
}

.gap-82 .halo-column {
  margin-left: -41px;
  margin-right: -41px;
}

.gap-82 .halo-column__item {
  padding-left: 41px;
  padding-right: 41px;
}

.gap-83 .halo-column {
  margin-left: -41.5px;
  margin-right: -41.5px;
}

.gap-83 .halo-column__item {
  padding-left: 41.5px;
  padding-right: 41.5px;
}

.gap-84 .halo-column {
  margin-left: -42px;
  margin-right: -42px;
}

.gap-84 .halo-column__item {
  padding-left: 42px;
  padding-right: 42px;
}

.gap-85 .halo-column {
  margin-left: -42.5px;
  margin-right: -42.5px;
}

.gap-85 .halo-column__item {
  padding-left: 42.5px;
  padding-right: 42.5px;
}

.gap-86 .halo-column {
  margin-left: -43px;
  margin-right: -43px;
}

.gap-86 .halo-column__item {
  padding-left: 43px;
  padding-right: 43px;
}

.gap-87 .halo-column {
  margin-left: -43.5px;
  margin-right: -43.5px;
}

.gap-87 .halo-column__item {
  padding-left: 43.5px;
  padding-right: 43.5px;
}

.gap-88 .halo-column {
  margin-left: -44px;
  margin-right: -44px;
}

.gap-88 .halo-column__item {
  padding-left: 44px;
  padding-right: 44px;
}

.gap-89 .halo-column {
  margin-left: -44.5px;
  margin-right: -44.5px;
}

.gap-89 .halo-column__item {
  padding-left: 44.5px;
  padding-right: 44.5px;
}

.gap-90 .halo-column {
  margin-left: -45px;
  margin-right: -45px;
}

.gap-90 .halo-column__item {
  padding-left: 45px;
  padding-right: 45px;
}

.gap-91 .halo-column {
  margin-left: -45.5px;
  margin-right: -45.5px;
}

.gap-91 .halo-column__item {
  padding-left: 45.5px;
  padding-right: 45.5px;
}

.gap-92 .halo-column {
  margin-left: -46px;
  margin-right: -46px;
}

.gap-92 .halo-column__item {
  padding-left: 46px;
  padding-right: 46px;
}

.gap-93 .halo-column {
  margin-left: -46.5px;
  margin-right: -46.5px;
}

.gap-93 .halo-column__item {
  padding-left: 46.5px;
  padding-right: 46.5px;
}

.gap-94 .halo-column {
  margin-left: -47px;
  margin-right: -47px;
}

.gap-94 .halo-column__item {
  padding-left: 47px;
  padding-right: 47px;
}

.gap-95 .halo-column {
  margin-left: -47.5px;
  margin-right: -47.5px;
}

.gap-95 .halo-column__item {
  padding-left: 47.5px;
  padding-right: 47.5px;
}

.gap-96 .halo-column {
  margin-left: -48px;
  margin-right: -48px;
}

.gap-96 .halo-column__item {
  padding-left: 48px;
  padding-right: 48px;
}

.gap-97 .halo-column {
  margin-left: -48.5px;
  margin-right: -48.5px;
}

.gap-97 .halo-column__item {
  padding-left: 48.5px;
  padding-right: 48.5px;
}

.gap-98 .halo-column {
  margin-left: -49px;
  margin-right: -49px;
}

.gap-98 .halo-column__item {
  padding-left: 49px;
  padding-right: 49px;
}

.gap-99 .halo-column {
  margin-left: -49.5px;
  margin-right: -49.5px;
}

.gap-99 .halo-column__item {
  padding-left: 49.5px;
  padding-right: 49.5px;
}

.gap-100 .halo-column {
  margin-left: -50px;
  margin-right: -50px;
}

.gap-100 .halo-column__item {
  padding-left: 50px;
  padding-right: 50px;
}

.hero-2 .hero__content {
  left: auto;
  max-width: 100%;
  right: auto;
  transform: translateY(-50%);
  padding: 0 60px;
}

.hero--small .hero__image {
  height: 265px;
}