.button-radius-0 {
  border-radius: 0px;
}

.button-radius-1 {
  border-radius: 1px;
}

.button-radius-2 {
  border-radius: 2px;
}

.button-radius-3 {
  border-radius: 3px;
}

.button-radius-4 {
  border-radius: 4px;
}

.button-radius-5 {
  border-radius: 5px;
}

.button-radius-6 {
  border-radius: 6px;
}

.button-radius-7 {
  border-radius: 7px;
}

.button-radius-8 {
  border-radius: 8px;
}

.button-radius-9 {
  border-radius: 9px;
}

.button-radius-10 {
  border-radius: 10px;
}

.button-radius-11 {
  border-radius: 11px;
}

.button-radius-12 {
  border-radius: 12px;
}

.button-radius-13 {
  border-radius: 13px;
}

.button-radius-14 {
  border-radius: 14px;
}

.button-radius-15 {
  border-radius: 15px;
}

.button-radius-16 {
  border-radius: 16px;
}

.button-radius-17 {
  border-radius: 17px;
}

.button-radius-18 {
  border-radius: 18px;
}

.button-radius-19 {
  border-radius: 19px;
}

.button-radius-20 {
  border-radius: 20px;
}

.button-radius-21 {
  border-radius: 21px;
}

.button-radius-22 {
  border-radius: 22px;
}

.button-radius-23 {
  border-radius: 23px;
}

.button-radius-24 {
  border-radius: 24px;
}

.button-radius-25 {
  border-radius: 25px;
}

.button-radius-26 {
  border-radius: 26px;
}

.button-radius-27 {
  border-radius: 27px;
}

.button-radius-28 {
  border-radius: 28px;
}

.button-radius-29 {
  border-radius: 29px;
}

.button-radius-30 {
  border-radius: 30px;
}

.button-radius-31 {
  border-radius: 31px;
}

.button-radius-32 {
  border-radius: 32px;
}

.button-radius-33 {
  border-radius: 33px;
}

.button-radius-34 {
  border-radius: 34px;
}

.button-radius-35 {
  border-radius: 35px;
}

.button-radius-36 {
  border-radius: 36px;
}

.button-radius-37 {
  border-radius: 37px;
}

.button-radius-38 {
  border-radius: 38px;
}

.button-radius-39 {
  border-radius: 39px;
}

.button-radius-40 {
  border-radius: 40px;
}

.button-radius-41 {
  border-radius: 41px;
}

.button-radius-42 {
  border-radius: 42px;
}

.button-radius-43 {
  border-radius: 43px;
}

.button-radius-44 {
  border-radius: 44px;
}

.button-radius-45 {
  border-radius: 45px;
}

.button-radius-46 {
  border-radius: 46px;
}

.button-radius-47 {
  border-radius: 47px;
}

.button-radius-48 {
  border-radius: 48px;
}

.button-radius-49 {
  border-radius: 49px;
}

.button-radius-50 {
  border-radius: 50px;
}

.button-radius-51 {
  border-radius: 51px;
}

.button-radius-52 {
  border-radius: 52px;
}

.button-radius-53 {
  border-radius: 53px;
}

.button-radius-54 {
  border-radius: 54px;
}

.button-radius-55 {
  border-radius: 55px;
}

.button-radius-56 {
  border-radius: 56px;
}

.button-radius-57 {
  border-radius: 57px;
}

.button-radius-58 {
  border-radius: 58px;
}

.button-radius-59 {
  border-radius: 59px;
}

.button-radius-60 {
  border-radius: 60px;
}

.button-radius-61 {
  border-radius: 61px;
}

.button-radius-62 {
  border-radius: 62px;
}

.button-radius-63 {
  border-radius: 63px;
}

.button-radius-64 {
  border-radius: 64px;
}

.button-radius-65 {
  border-radius: 65px;
}

.button-radius-66 {
  border-radius: 66px;
}

.button-radius-67 {
  border-radius: 67px;
}

.button-radius-68 {
  border-radius: 68px;
}

.button-radius-69 {
  border-radius: 69px;
}

.button-radius-70 {
  border-radius: 70px;
}

.button-radius-71 {
  border-radius: 71px;
}

.button-radius-72 {
  border-radius: 72px;
}

.button-radius-73 {
  border-radius: 73px;
}

.button-radius-74 {
  border-radius: 74px;
}

.button-radius-75 {
  border-radius: 75px;
}

.button-radius-76 {
  border-radius: 76px;
}

.button-radius-77 {
  border-radius: 77px;
}

.button-radius-78 {
  border-radius: 78px;
}

.button-radius-79 {
  border-radius: 79px;
}

.button-radius-80 {
  border-radius: 80px;
}

.button-radius-81 {
  border-radius: 81px;
}

.button-radius-82 {
  border-radius: 82px;
}

.button-radius-83 {
  border-radius: 83px;
}

.button-radius-84 {
  border-radius: 84px;
}

.button-radius-85 {
  border-radius: 85px;
}

.button-radius-86 {
  border-radius: 86px;
}

.button-radius-87 {
  border-radius: 87px;
}

.button-radius-88 {
  border-radius: 88px;
}

.button-radius-89 {
  border-radius: 89px;
}

.button-radius-90 {
  border-radius: 90px;
}

.button-radius-91 {
  border-radius: 91px;
}

.button-radius-92 {
  border-radius: 92px;
}

.button-radius-93 {
  border-radius: 93px;
}

.button-radius-94 {
  border-radius: 94px;
}

.button-radius-95 {
  border-radius: 95px;
}

.button-radius-96 {
  border-radius: 96px;
}

.button-radius-97 {
  border-radius: 97px;
}

.button-radius-98 {
  border-radius: 98px;
}

.button-radius-99 {
  border-radius: 99px;
}

.button-radius-100 {
  border-radius: 100px;
}

.btn {
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  min-width: auto;
}
.btn.button-border {
  border: 1px solid #111111;
  background-color: transparent;
}
.btn.button-line {
  padding: 0 0 4px 0;
  height: auto;
  line-height: normal;
  border: 0;
  border-bottom: 1px solid #111111;
  background-color: transparent;
  border-radius: 0;
}

.slideshow__heading-sub {
  color: initial;
}
.slideshow__heading-sub span {
  padding: 0;
}

.slideshow-image-23_right {
  display: flex;
  justify-content: flex-end;
}
.slideshow-image-23_right .slideshow__image {
  width: 66.667%;
}
.slideshow-image-23_right .slideshow__image img {
  width: 100%;
  height: auto;
}

.slideshow-image-23_left {
  display: flex;
  justify-content: flex-start;
}
.slideshow-image-23_left .slideshow__image {
  width: 66.667%;
}
.slideshow-image-23_left .slideshow__image img {
  width: 100%;
  height: auto;
}