.template-cart [data-cart-pc],
.template-cart [data-mobile-cart] {
	/*pointer-events: none;*/
}

.page-cart {
	padding-top: 45px;
}


.open_cart .overlay_background {
	opacity: 0;
    visibility: hidden;
	pointer-events: none;
}

@media (min-width: 1025px) {
	.section-header {
	    margin-bottom: 45px;
	}
}