{% layout none %}

<div class="products-grid">
    <div class="grid-item">
        {% if collection.products_count > 0 %}  

        {% for product in collection.products limit: settings.slider_tab_product_limit_all %}
          <div class="item grid-item col-6 col-md-4">
            {% render 'product-grid-item' with product as product %}
          </div>
        {% endfor%}

        {% else %}

        <div class="text-center" {% if settings.enable_multilang %}data-translate="collections.general.no_matches"{% endif %}>
            {{ 'collections.general.no_matches' | t }}
        </div>
        
        {% endif %}
    </div>
</div>