<div class="wishlist-page">
    <div class="container">
        <header class="page-header">
            <h2>
            {% render 'multilang' with page.title %}
            </h2>  
        </header>

        <div class="wrapper-wishlist">
            {% render 'wishlist-page' %}
        </div>
        {% render 'breadcrumb' %}
    </div>
</div>